
*{
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

/* full container style */

.full-container{
    display: grid;
    grid-template-columns: 31fr 149fr;

}


/* sidenav style */

.sidenav{
    background-color: #0F141F;
    min-height: 100vh;

}
.sidenav h1{
    color:#FFFFFF ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    margin-top: 26px;
    margin-left: 19px;
}

.sideglobal{
  margin-top: 27px;
  margin-right: 15px;
  margin-left: 17px;
  padding-top: 17.5px;
  padding-left: 17.5px;
  padding-right: 122px;
  padding-bottom: 17.5px;
  background: radial-gradient(75.47% 75.47% at 50% 0%, #598BFC 0%, #1A55DB 100%);
  border-radius: 12px;
}
.sidenav h2{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: rgba(192, 209, 252, 0.66);
padding-left: 19px;
padding-top: 21px;
}

.sidenav-names{
  margin-left: 16px;
}

.imageNameArrow{
  display: grid;
  grid-template-columns: 15fr 1fr;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  background-color:#2E3A54 ;
  padding: 16px 15px 14px 15px;
  border-radius: 12px;
  
  
}
.imageNameArrow h3{
  padding-left: 10px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 130%;
color: #F0F2F7;
padding-left: 10px;
}

.imgandName{
  display: flex;
  align-items: center;
}

/* content users style */


.users{
  display: flex;
  padding-left: 22px;
}

.sidebarusercompo{
  position: relative;
  

}

.sidebarusercompoGrid{
  display: flex;
  position: relative;
}

.sidebarusercompoGrid2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

#straightline{
  height: 170px;
}

#lineimg2{
  padding-top: 39px;
}

.contents{
  margin-left: 19px;
  margin-top: 12px;
}

.content-users{
  background-color:#2E3A54 ;
  width: 175px;
  
  
 
  border-radius: 12px;
}

#content-users{
  margin-top: 12px;
  
}

.content-users h2{
  font-size: 12px;
  color: #F0F2F6;

} 
.content-users h3{
  color: #6D7DA0;
  padding-left: 18px;
  font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
padding-bottom: 10px;
}

.contentuserhide{
  display: none;
}


/* content user style end */



/* sidenav end */

/* dashboaard style */
.dashboard{
    

}

/* dashboard header */

.header{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 40px;
    height: 78px;
    background-color: #0F141F;
    
    
    
    }

    .header ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;

    }
   

    .header ul li a{
        text-decoration: none;
        color:#97A4C1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        
       
        
    }

    .header ul li a:hover{
        background-color:#2E3A54 ;
        border-radius: 12px;
        left: 12px;
        right: 11px;
        top: 12px;
        bottom: 10px;
        
        position: relative;
    }

    /* dashboard component */
    .dashboard-component{
        background-color: #F4F8FF;
        padding-bottom: 77px;
         
    }
    .dashboard-dropdown{
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
         
    }
    .dashboard-dropdown h1{
        color: #0F141F;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        padding-top: 27px;
    }
    .dashboard-component  button{
        height: 17px;
        width: 20px;
        margin-top: 37px;
        
    }

    #mybtnbg {
        background-image: url('/dropdown.png');
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        width: 20px;
        height: 17px;
      }

     

.drops{
  position: fixed;
  display: block;
  z-index: 1000;
  padding-left: 22px;
  padding-top: 2.5px;
  padding-right: 27.5px;
  right: 0px;
  padding-bottom: 27.5px;
  background-color: white;
  border-radius: 12px;

}

     
.drops ul li{
  list-style: none;
  padding-top: 25px;
}

.drops ul li a{
  text-decoration: none;
  padding-left: 10px;
  color: #333333;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

}


      .Toggle{
        display: none;
      }


 

      /*  */
      .menu-for-small-d{
        display: none;
      }

    

  

      
      /* dropsownstyle */

      
    
     




    


      /* global iteam start */


      .global-items{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 26px;
        margin-left: 32px;        
      }

      .global-iteam-single{
        width: 267px;
        height: 145px;        
        position: relative;
        display: grid;
        justify-content: space-between;
        border-radius: 12px;
        grid-template-columns: 1fr 1fr;
        margin-right: 22px;     
        margin-bottom: 19px;
        background: #FFFFFF;
        background-image: url('/images/backgrounds/Mask.svg');
        border: 1px solid #D8E2FA;
        border-radius: 12px;
        /* experiment */

        /* experiment */
        

      }

      .global-iteam-single h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
      }
      .global-iteam-single h1{
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
      }

      .global-iteam-single:hover{
       background-color:#2668FF;
       color: white;

      }

      .global-iteam-single-1stdiv{

         /*  */
        

         /*  */

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .global-iteam-single-2nddiv{
         /*  */
         text-align: end;

         /*  */

        padding-top: 16px;
        padding-right: 16px;
      }

      /* image */
      .global-iteam-single img{
        width: 47px;
        height: 47px;
      }

      /* image end */


    



      .global-iteam-single-2nddiv:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 16px;

      }
      .global-iteam-single-2nddiv:nth-child(2) h5{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 138.02%;
      }

      .global-iteam-single-2nddiv:nth-child(2) p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height:16px ;
      }

      .global-iteam-single:nth-child(7){
        display: grid;
        grid-template-columns: 2fr 1fr;
      }

.global-iteam-single:nth-child(8){
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.global-iteam-single:nth-child(8) h6{
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding-top: 2px;
}
.global-iteam-single-2nddiv:nth-child(8){
  padding-bottom:21px;
}

      /* global iteam end */


      /* graph style start */

      .graphs{
        display: flex;

      }


      /* graph style end */

 
   /* Style the two horizontal lines */

   .cargo-gear-h1{
    display: grid;
    grid-template-columns: 498fr 131fr 498fr;
    align-items: center;
    justify-content: center;
    padding-left: 31px;
    padding-right: 31px;
    
   }

   .cargo-gear-h1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #596B8D;
   }




   /* cargo gear end */



   /* Abnormality-Breakdown start */



   .Abnormality-Breakdown{
    display: grid;
    grid-template-columns: 360fr 743fr;
    margin-left: 33px;
    margin-right: 32px;
  


   }

   /* abnormality */

   .abnormality{
    background: #FFFFFF;
    margin-top: 38px;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 23px;
    border-radius: 12px;


   }

   .Abnormality-alert{
    
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
   }


   .abnormality-1st{
    display: flex;
    justify-content: space-between;
    
   }

   .abnormality-1st h3{
    color: #0F141F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
   }


   .abnormality-ni{
    display: flex;  
    padding-left: 57px;
    align-items: center;  
   }
   .abnormality-ni h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
   }

   .abnormality-ni img{
    width: 6px;
    height: 3.44px;
    padding-left: 4px;
    padding-bottom: 2.5px;
   }


   .abnomality-2nd{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    
    padding-top: 23px;


   
   }
   .abnomality-2nd h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #393939;

   }

   .abnomality-2nd h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(57, 57, 57, 0.5);
    padding-left: 47px;
   }

   .abnomality-2nd h4{
    color: rgba(57, 57, 57, 0.5);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding-left: 50px;


   }

   .cranse{
    display: flex;
    justify-content: right;
   }

   .cranse div{
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
   }

   .cranse p{
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    padding-left: 3px;
   }

   #chart {
    max-width: 350px;
    margin: 5px auto;
  }


   .breakdown{
    background-color: #FFFFFF;
    margin-left: 24px;
    margin-top: 38px;
    border-radius: 10px;
  }

  .breakdown-head{
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-top: 19px;
    padding-right: 19px;
  }

 .breakdown-head-bht20hrs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }

.breakdown-head-bht20hrs h1{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.breakdown-head-bht20hrs h4{
  font-weight: 500;
font-size: 12px;
line-height: 15px;
padding-left: 445px;

}

.beakdown-cranes{
  display: flex;
  padding-left: 23px;
  
  padding-top: 32px;
  
}

.Breakdown-inputs{
  display: flex;
  flex-direction: column;
}

.beakdown-cranes h3{
  padding-bottom: 26px ;
  font-weight: 600;
font-size: 12px;
}

.Breakdown-inputs input{
  
  width: 252px;
  height: 23px;
  border-radius: 12px;
  margin-left: 49px;

}
#firstinput{
  background-image: url('/images/clock.svg');
  background-repeat: no-repeat;
  background-color: #2C64E4;
  margin-top: 22px;
  margin-left: 49px;
  background-position: right center;
  
}

.Breakdown-inputs-1st-input input::placeholder{
  color:#FFFFFF ;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 7px;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
}

#breakdown-2ndinput{
  margin-top: 19px;
  margin-left: 101px;
  background-image: url('/images/clock-black.svg');
  background-position: right;
  background-repeat: no-repeat;
  border: 0.8px solid #DEDEDE;

}



.Breakdown-inputs-2ndp-part{
  display: flex;
  margin-left:149px ;
  margin-top: 19px;
 
}
.Breakdown-inputs-2ndp-part input:nth-child(1){
  
  background-image: url('/images/clock-black.svg');
  background-position: right;
  background-repeat: no-repeat;
  border: 0.8px solid #DEDEDE;
}

.Breakdown-inputs-2ndp-part input:nth-child(2){
  width: 102px;
  background-image: url('/images/clock-black.svg');
  background-position: right;
  background-repeat: no-repeat;
  border: 0.8px solid #DEDEDE;
  
}



/* numbers style */

.numbers{
  display: flex;
  justify-content: space-between;
  padding-left:71px ;
  padding-right: 43px;
  padding-bottom: 39px;
}
.numbers h1{
  font-weight: 400;
font-size: 8px;
line-height: 10px;

}


/* for toggle (hidden) */

.hidden {
  display: none;
}


/* chart start */
#chart {
  max-width: 650px;
  margin: 35px auto;
}
/* end chart */

 

   /* Abnormality-Breakdown end */

   /* for small device */

   @media only screen and (max-width: 600px) {

/* header in up */

.hidden {
  display: none;
}


    .menu-for-small-d{
      display: flex;
      justify-content: space-between;
      padding-left: 32px;
      padding-right: 32px;
      position: sticky;
      top: 0;
      background-color: #0F141F;
      padding-bottom: 10px;
     
       
  }
  .menu-for-small-d h1{
      color: #dee2ea;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      padding-top: 27px;
  }
  .menu-for-small-d  button{
      height: 17px;
      width: 20px;
      margin-top: 37px;
      
  }

    #mybtn {
      background-image: url('/dropdown.png');
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
      width: 20px;
      height: 17px;
      
    }
    /* header in up end */

    .full-container{
      display: grid;
      grid-template-columns: 1fr;
  
  }


 

    /* header optopns out */
    .header{
     display: none;
    }
     
    
    .dashboard{
     height: 0;
    } 


    /* global items */
    .global-items{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 76px;
        padding-left: 42px;

      }

      .sidenav{
        background-color: #0F141F;
        min-height: 70px;
        padding-bottom: 40px;
        
    
    
    }



    /* header */
    
.dropsownstyle{
  position: fixed;
  
  z-index: 1000;
  padding-left: 22px;
  padding-top: 2.5px;
  padding-right: 27.5px;
  right: 0px;
  padding-bottom: 27.5px;
  background-color: white;
  border-radius: 12px;
  transition: 10s ease-in;

}

     
.dropsownstyle ul li{
  list-style: none;
  padding-top: 25px;
}

.dropsownstyle ul li a{
  text-decoration: none;
  padding-left: 10px;
  color: #333333;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

}
/* header */

    .dashboard-dropdown{
      display: none;
    }

    /* Abnormality-Breakdown for mobile devices */
    .Abnormality-Breakdown{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 5px;
      margin-right: 5px;
     }

     .abnormality{
      background: #FFFFFF;
      margin-top: 38px;
      padding-left: 20px;
      padding-right: 21px;
      padding-top: 23px;
      border-radius: 12px;
  
     }
  
     .Abnormality-alert{
      
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      
     }
  
  
     .abnormality-1st{
      display: flex;
      justify-content: space-between;
      
     }
  
     .abnormality-1st h3{
      color: #0F141F;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
     }
  
  
     .abnormality-ni{
      display: flex;  
      padding-left: 17px;
      align-items: center;  
     }
     .abnormality-ni h3{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 10px;
     }
  
     .abnormality-ni img{
      width: 6px;
      height: 3.44px;
      padding-left: 4px;
      padding-bottom: 2.5px;
     }
  
  
     .abnomality-2nd{
      display: flex;
      /* grid-template-columns: 1fr 1fr 1fr; */
      
      padding-top: 23px;
  
  
     
     }
     .abnomality-2nd h1{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #393939;
  
     }
  
     .abnomality-2nd h2{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(57, 57, 57, 0.5);
      padding-left: 47px;
     }
  
     .abnomality-2nd h4{
      color: rgba(57, 57, 57, 0.5);
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      padding-left: 50px;
  
  
     }
  
     .cranse{
      display: flex;
      justify-content: right;
     }
  
     .cranse div{
      display: flex;
      padding-top: 15px;
      padding-left: 10px;
     }
  
     .cranse p{
      font-weight: 400;
      font-size: 8px;
      line-height: 8px;
      padding-left: 3px;
     }
  
     #chart {
      max-width: 650px;
      margin: 5px auto;
    }

  /* breakdown starts */
     .breakdown{
      background-color: #FFFFFF;
      margin-left: 0px;
      margin-top: 38px;
      border-radius: 10px;
     
    }
  
    .breakdown-head{
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      padding-top: 19px;
      padding-right: 19px;
      
  
  
    }
  
   .breakdown-head-bht20hrs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   }
  
  .breakdown-head-bht20hrs h1{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
  }
  
  .breakdown-head-bht20hrs h4{
    font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  padding-left: 35px;
  
  }
  
  .beakdown-cranes{
    display: flex;
    padding-left: 10px;
    
    padding-top: 32px;
    
  }
  
  .Breakdown-inputs{
    display: flex;
    flex-direction: column;
  }
  
  .beakdown-cranes h3{
    padding-bottom: 26px ;
    font-weight: 600;
  font-size: 12px;
  }
  
  .Breakdown-inputs input{
    
    width: 152px;
    height: 23px;
    border-radius: 12px;
    margin-left: 9px;
  
  }
  #firstinput{
    background-image: url('/images/clock.svg');
    background-repeat: no-repeat;
    background-color: #2C64E4;
    margin-top: 22px;
    margin-left: 9px;
    background-position: right center;
    
  }
  
  .Breakdown-inputs-1st-input input::placeholder{
    color:#FFFFFF ;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }
  
  #breakdown-2ndinput{
    margin-top: 19px;
    margin-left: 11px;
    background-image: url('/images/clock-black.svg');
    background-position: right;
    background-repeat: no-repeat;
    border: 0.8px solid #DEDEDE;
  
  }
  
  
  
  .Breakdown-inputs-2ndp-part{
    display: flex;
    margin-left:29px ;
    margin-top: 19px;
   
  }
  .Breakdown-inputs-2ndp-part input:nth-child(1){
    
    background-image: url('/images/clock-black.svg');
    background-position: right;
    background-repeat: no-repeat;
    border: 0.8px solid #DEDEDE;
    
  }
  
  .Breakdown-inputs-2ndp-part input:nth-child(2){
    width: 52px;
    background-image: url('/images/clock-black.svg');
    background-position: right;
    background-repeat: no-repeat;
    border: 0.8px solid #DEDEDE;
    
  }
  
  
  
  /* numbers style */
  
  .numbers{
    display: flex;
    justify-content: space-between;
    padding-left:31px ;
    padding-right: 23px;
  }
  .numbers h1{
    font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  
  }
  


 
     /* last bracket for sm responsive */
   }


  /* practice */

  